* {
    font-family: "Mulish", sans-serif;
}



/* shared styles */
.primary-button {
    width: 170px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    border-style: none;

    font-weight: 800;
    padding: 14px, 18px;
    color: rgb(255, 255, 255);
    background: rgb(255, 84, 0);


}

.common-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.orange {
    color: rgb(255, 84, 0);
}

.nav-title {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    padding-right: 30px;

}

.header-title {
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
}

nav a :hover {}




.header {}

.banner {
    position: relative;
    align-items: center;
    width: 100%;
    height: auto;

}

.banner-content {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.banner-img {
    display: block;
    margin: 50px auto;
    width: 70%;
    height: auto;
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}



.banner-description {
    color: rgb(255, 255, 255);

    font-size: 16px;
    font-weight: 400;
}



.banner-title {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
}

.header-input {
    width: 800px;
    height: 84px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);


}

input {
    margin-top: 16px;

    text-align: left;
    padding-left: 5px;
    width: 174px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    height: 52px;
    border-radius: 8px;
    border-style: none;


}

.find-button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    width: 174px;
    height: 52px;
    border-style: none;

}


/* <!-- Destination section --> */
.Destination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.des-text h2 {

    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.img-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, frd);
    gap: 24px;
    margin-top: 20px;

}

.img-container img {
    width: auto;
    height: auto;
}

.First-column img,
.Second-column img,
.Third-column img {
    margin-right: 20px;
}

/* Tour Section */
.tour-container {

    display: flex;
    align-items: center;
    margin-top: 100px;
    padding-left: 135px;
    padding-right: 135px;
    gap: 60px;


}

.tour-text-container h3 {
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
}




/* new-sletter-container style css */

.new-sletter-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding-left: 135px;
    padding-right: 135px;
    justify-content: space-between;

}


.sletter-text h3 {

    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
}

.new-sletter-container .common-description {
    border-bottom: 3px solid rgba(19, 19, 24, 0.1);
    padding-bottom: 20px;
    width: auto;

}

.sletter-text {
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;

    padding: 40px;
    margin-right: 24px;
}


.sletter-img img {

    width: 100%;
}


.NE-input {
    margin-bottom: 20px;
    width: 80%;
    height: 30px;
    border-color: white;
    border-radius: 5px;
    border-style: none;
    background: rgba(19, 19, 24, 0.05);
}


footer {


    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
    height: 502px;
 margin-top: 100px;
margin-left: 40px;



}

.footer-title {
    position: relative;
    align-items: center;
    text-align: center;
    padding-top: 110px;
}

.common-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.footer-t {
    font-size: 32px;
    font-weight: 800;
    color: rgb(19, 19, 24);

}
.orange {
    color: rgb(255, 84, 0);
}

.icons{

    position: relative;
    align-items: center;
    text-align: center;
}





/* Mobile Device Responsive  */
@media screen and (max-width: 576px) {

    @media screen and (max-width: 576px) {
        .banner {
            padding: 0 10px;
        }

        .banner-content {
            width: 100%;
            text-align: center;
        }

        .banner-img {
            width: 90%;
            margin: 20px auto;
        }

        .text-overlay {
            width: 90%;
            font-size: 14px;
        }

        .banner-description {
            font-size: 12px;
            font-weight: 300;
        }

        .banner-title {
            font-size: 36px;
            font-weight: 700;
        }

        .header-input {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.3);
        }

        .header-title {
            font-size: 21.54px;
            font-weight: 800;
            line-height: 27px;
            letter-spacing: 0%;


        }

        .nav-title {

            flex-direction: column;
            margin: 0px;

        }

        nav a {
            padding-right: 10px;

        }

        .banner-img {
            display: contents;
            width: 100%;
            height: 100%;
        }

        input {
            margin-top: 10px;
            width: 100%;
            height: 40px;
            padding-left: 10px;
            border-radius: 8px;
            background: rgb(255, 255, 255);
            border-style: none;
        }

        .find-button {
            width: 100%;
            height: 40px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 8px;
            background: rgb(255, 84, 0);
            border-style: none;
            margin-top: 10px;
        }

        .tour-container,
        .new-sletter-container {
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
        }

        .new-sletter-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-left: 10px;
        }

        .tour-text-container h3 {
            font-size: 20px;
            margin-top: 80px;
        }

        .tour-image img {
            width: 100%;
        }

        .sletter-text {
            width: 75%;
            padding-left: 10px;
        }

        .sletter-img img {
            margin-top: 20px;
            width: 90%;
        }

        .NE-input {
            margin-bottom: 20px;
            width: 100%;
        }

        .primary-button {
            font-size: 15px;
            width: 170px;
            height: 50px;
        }

        .img-container {
            gap: 5px;
        }

        .First-column img,
        .Second-column img,
        .Third-column img,
        .img-container img {
            width: 335px;
            height: 176px;
            padding-left: 20px;
            margin-bottom: 8px;
        }

        .des-text {
            justify-content: center;
            text-align: center;
        }

        .des-text h2 {
            color: rgb(19, 19, 24);
            font-size: 20px;
            font-weight: 800;
            margin-top: 30px;
        }

        .common-description {
            font-size: 14px;
        }
    }
footer{
    background: rgba(19, 19, 24, 0.05);
    width: 300px;
    align-items: center;
    
 
}

.footer-title {
    position: relative;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
.footer-t {
    font-size: 21.54px;
    font-weight: 800;
    color: rgb(19, 19, 24);

}
.icons{

    position: relative;
    align-items: center;
    text-align: center;
   
}

}